<app-championmodal [championName]="selectedChamp"></app-championmodal>

<app-navbar (searchEmit)="onChampionSearch($event)"></app-navbar>

<div class="main-container">
  <div class="sidebar-container column">
  <app-sidebar id="sidebar" (classSideBarSearch)="filterSortList($event)"></app-sidebar>
  </div>
  <div class="content-container column">
    <app-champ-tile *ngFor="let champ of listOfChamps" [champ]="champ.id" (champSelected)="onChampSelected($event)"></app-champ-tile>
  </div>
</div>


