<div class="sidebar-container">
  <h5>Filtern</h5>
  <div class="class-picker-label">Klasse:</div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle class-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      {{SelectedClass.name}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a *ngFor="let class of Classes" class="dropdown-item" (click)="onClassDropdownSelected(class)">{{class.name}}</a>
    </div>
  </div>
  <button type="button" class="btn btn-info search-button">Suchen</button>

  <br>

  <h5>Sortieren</h5>

</div>
